<div class="flextop">
    <div class="nametop">BENH VIEN CHET ROI</div>
    <div class="titlemenu">
            <a href="">
                <h4>Chuyen khoa</h4>
                Tim bac si theo chuyen khoa
            </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Cơ sở y tế</h4>
            Chọn bệnh viện phòng khám
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Bác sĩ</h4>
            Chọn bác sĩ giỏi
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Gói khám</h4>
            Khám sức khỏe tổng quát
        </a>
    </div>
    <div class="iconright">
        <a href=""><i class="fa-solid fa-circle-question"></i> Hỗ Trợ</a>
        <a href=""><i class="fa-solid fa-circle-info"></i> Thông tin</a>
        <a href="">VN</a>
        |
        <a href="">EN</a>
    </div>
</div>